:root {
    --primary: #325d79;
    --secondary: #E7E6E1;
    --white: #f7f7f7;
}

/* -----------------------resets-------------------- */
body {
    overflow-x: hidden;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

body,
nav,
ul,
li,
figure {
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--white);
    text-align: center;
}

.hero h1 span {
    display: block;
}

h2 {
    color: var(--primary);
    background: var(--secondary);
    text-align: center;
    margin: 0;
    padding: 2rem;
}

h2,
h4 {
    font-family: "Segoe UI", "Helvetica Neue"sans-serif;
    letter-spacing: 1px;
}

h3,
p {
    font-family: "Georgia", serif;
    letter-spacing: .5px;
    line-height: 1.5em;
}

h4 {
    letter-spacing: 1.3px;
    line-height: 25px;
}

a {
    color: var(--white);
    text-decoration: none;
}

a.light {
    color: #325d79;
}

a:hover {
    opacity: .7;
}

/*-------------------navigation bar------------------*/
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    font-variant: all-small-caps;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    background-color: #325d79;
    padding: 15px;
    box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.4);
    position: relative;
}

nav ul li:first-child {
    margin-right: auto;
    color: blue;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    padding: 5px 15px;
}

.menu {
    display: none;
    position: relative;
    padding-left: 1.25em;
}

.menu::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.5em;
    width: 1em;
    height: 0.15em;
    background: var(--white);
    box-shadow:
        0 0.25em 0 0 var(--white),
        0 0.5em 0 0 var(--white);

}

.toggler {
    visibility: hidden;
    opacity: 0;
    display: flex;
    position: absolute;
    right: 0px;
    flex-flow: column nowrap;
    width: 80px;
    transition: all .5s;
}

.toggler li {
    padding-top: .5em;
    padding-bottom: .5em;
}

.navbar {
    visibility: visible;
    opacity: 1;
    transition: all .5s;
}

.hide {
    visibility: none;
    opacity: 0;
}

/*---------------Hero-----------------------*/
/* bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #325d83 url('/keyboard.jpg') center/cover no-repeat;
    background-blend-mode: overlay;
    min-height: 40vh;
}

/*--------------Pagination Arrows-----------*/
#prev {
    display: block;
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #e7e6e1;
    position: fixed;
    top: 48vh;
    left: 2vw;
    cursor: pointer;
}

#next {
    display: block;
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #e7e6e1;
    position: fixed;
    top: 48vh;
    right: 2vw;
    cursor: pointer;
}

main {
    color: #325d79;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

article.list-project {
    max-width: 350px;
    border: 1px solid #325d97;
    background: var(--secondary);
    margin: 1rem;
}

header.list-project-header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color: var(--primary);
}

a.list-project-title {
    color: var(--primary);
}

.list-project-content {
    width: 100%;
    background: var(--secondary);
    margin-top: 1rem;
}

article.list-project img {
    display: block;
    margin: 0 auto;
    object-fit: scale-down;
    -o-object-fit: scale-down;
}

article.list-project p {
    padding: 1rem;
    text-align: center;
    min-height: 72px;
}

h2#about {
    padding-top: 4rem;
    padding-bottom: 8rem;
    border-bottom: 1rem solid var(--white);
}

img.profilepic {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 100%;
    transform: translateY(-7rem);
}

.content {
    width: 80%;
    margin: 0 auto;
}

footer.list-project-footer {
    background: var(--secondary);
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn {
    color: var(--white);
    background: var(--primary);
    padding: 1rem 2rem;
}

.container {
    /* display: grid;
    grid-template-columns: 10% 1fr 10%; */
    width: 80vw;
    /*min-height: 900px;*/
    background-color: #E7E6E1;
    margin: 0 auto;
}

.webprojectdetails {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px;
}

.webprojectcopy {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.4);
}

.webprojectcopy ul {
    margin-left: 20px;
}

/*class for wireframes container*/
.wireframes {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-auto-flow: dense;
    justify-items: center;
    margin: 20px;
}

.wireframesKyle {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-auto-flow: dense;
    justify-items: center;
    margin: 20px;
}

/*class for each wireframe image*/
.wireframe {
    margin-bottom: 20px;
}

.col-1 {
    grid-column-start: 1;
}

.col-2 {
    grid-column-start: 2;
}

/* 
article {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 500px;
    grid-column-start: 2;
    justify-items: center;
    align-items: center;
}

article#about {
    grid-template-rows: 400px;
}

article div {
    grid-column-start: 8;
    grid-column-end: 13;
    margin: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.4);
} */

.button {
    display: block;
    background-color: #325d79;
    color: var(--white);
    margin: 40px auto;
    padding: 10px 15px;
    max-width: 200px;
    width: 75vw;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.4);
}

.button a {
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    box-shadow: none;
}

figure {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    justify-content: center;
    margin: 20px;
}

article#about figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.4);
}

figure img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.4);
}

figure img:hover,
article#about figure img:hover {
    box-shadow: none;
    border: .5px solid rgba(50, 93, 121, .5);
}

.even {
    grid-auto-flow: dense;
}

article.even div {
    grid-column-start: 1;
    grid-column-end: 6;
}

.even figure {
    grid-column-start: 7;
    grid-column-end: 13;
}

figure:before,
figure.about:before {
    content: "See More";
    position: absolute;
    bottom: 20px;
    right: 50px;
    color: var(--white);
    font-variant: all-small-caps;
    text-shadow: 0 1px 1px rgb(50, 93, 121);
}

figure:after {
    content: "";
    position: absolute;
    border: solid var(--white);
    border-width: 0 3px 3px 0;
    padding: 3px;
    bottom: 25px;
    right: 25px;
    transform: rotate(-45deg);
}

figure.about:before {
    content: "About Me";
}

article.project {
    grid-template-rows: 400px;
}

article.project figure:before,
article.project figure:after,
.stuff figure:before,
.stuff figure:after {
    display: none;
}

.project {
    opacity: 1;
    transition: all 1s;
}

.stuff {
    grid-column-start: 2;
    margin: 0 auto 50px;
    max-width: 775px;

}

.stuff img {
    max-width: 398px;
}

/*-----------------------WTHA Page--------------------*/
.banner {
    width: 80vw;
    grid-column: 1 / 4;
}

/* ----------------------footer ----------------------*/

footer {
    background-color: #325d79;
    color: var(--white);
    text-align: center;
    padding: 15px;
}

.social {
    color: var(--white);
}


/* --------------------media queries------------------------ */

@media screen and (max-width: 1535px) {

    .webprojectdetails {
        grid-template-columns: 100%;
    }
}


@media screen and (min-width: 775px) {

    #support {
        grid-row: 1 / 3;
    }

    #tennent {
        grid-row: 2 / 4;
    }
}

@media screen and (max-width: 775px) {

    .wireframes {
        grid-template-columns: 100%;
    }
}


@media screen and (max-width: 610px) {
    .radickheadings {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 510px) {
    .radickheadings {
        font-size: .75rem;
    }
}

@media screen and (max-width: 700px) {
    #prev {
        border-right: 20px solid #fff;
    }

    #next {
        border-left: 20px solid #fff;
    }

    .container {
        width: 100vw;
    }

    .menu {
        display: inline;
    }

    .collapse {
        display: none;
    }

    .toggled {
        visibility: visible;
        opacity: 1;
        transition: all .5s;
    }

    .banner {
        width: 100vw;
        grid-column: 1 / 4;
    }

    .webprojectdetails {
        grid-column: 1 / 4;
    }

    .wireframesKyle img {
        width: 300px;
    }
}

@media screen and (max-width: 423px) {

    h3 {
        font-size: 1em;
    }


}
